@mixin font-face($font-family, $url, $weight) {
    @font-face {
      font-family: '#{$font-family}';
      src: url('../assets/fonts/#{$url}.woff2') format('woff2');
      font-weight: #{$weight};
      font-display: swap;
      font-style: normal;
    }
  }
  
  @mixin text-clamp($lines: 1, $line-height: false) {
    overflow: hidden;
    text-overflow: ellipsis;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    
  
    @if $line-height {
      max-height: $line-height * $lines * 1px;
    }
  }
  
  @mixin media-w($w) {
    @media only screen and (max-width: $w) {
      @content;
    }
  }