$primary-color:  #F4E041;  
$secondary-color: #00BDD3;
$bg-color: #F8F8F8;
$grey-color: #D0CFCF; 
$grey-text: #7E7E7E;
$error-color: #CB3D40;

$black-color: rgba(0, 0, 0, 0.87);
$black-gradient: rgba(0, 0, 0, 0.5);
$white-color: rgba(255, 255, 255, 0.87);

$bg-header: #fff;

$btn-hover: #FFE302;
$btn-disabled: #B4B4B4;

$sm: 768px;
$xs: 480px;